backports.zoneinfo;python_version<"3.9"
asgiref
beautifulsoup4
Django==4.2
django-bootstrap5
django-ckeditor
django-cors-headers
django-environ
django-js-asset
djangorestframework==3.14.0
djangorestframework-simplejwt
drf-writable-nested==0.7.0
Pillow
# psycopg2==2.9.6
PyJWT
pytz
soupsieve
sqlparse
typing_extensions
tzdata
Unidecode
drf-spectacular


