backports.zoneinfo;python_version<"3.9"
asgiref
beautifulsoup4
Django
django-bootstrap5
django-ckeditor
django-cors-headers
django-environ
django-js-asset
djangorestframework
djangorestframework-simplejwt
drf-writable-nested
Pillow
# psycopg2
PyJWT
pytz
soupsieve
sqlparse
typing_extensions
tzdata
Unidecode
drf-spectacular


