{% load static %}
<div class="col-lg-4">
    <div class="blog_right_sidebar">
        <aside class="single_sidebar_widget author_widget">
<!--            <div class="social_icon">-->
<!--                <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                <a href="#"><i class="fa fa-github"></i></a>-->
<!--                <a href="#"><i class="fa fa-behance"></i></a>-->
<!--            </div>-->
            <div class="br"></div>
        </aside>
        <div>
            <aside class="single_sidebar_widget popular_style_widget">
                <h3 class="widget_title">Последние стили</h3>
                {% for style in last_styles %}
                    <div class="media style_item">
                        <a href="{% url 'style_detail' style.slug %}"> <img src="{{ style.image.url }}" alt="style" height="100"></a>
                        <div class="media-body">
                            <a href="{% url 'style_detail' style.slug %}"><h3>{{style.title}}</h3></a>
                            <p>{{style.created_at}}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="br"></div>
            </aside>
        </div>
<!--        <aside class="single_sidebar_widget style_category_widget">-->
<!--            <h4 class="widget_title">Тэги</h4>-->
<!--            <ul class="list cat-list">-->
<!--                {% for tag in common_tags %}-->
<!--                    <li>-->
<!--                        <a href="{% url 'tag' tag.slug %}" class="d-flex justify-content-between">-->
<!--                            <p>#{{tag}}</p>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        </aside>-->
    </div>
</div>